@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora:ital@1&family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&family=Varela+Round&display=swap");
.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}
.singlePostImg-div {
  display: flex;
  justify-content: center;
}
.singlePostImg {
  max-width: 40%;
  border-radius: 10px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
}
.singlePostEdit {
  float: right;
  font-size: 16px;
}
.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}
.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #b39656;
  font-family: "Varela Round", sans-serif;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
/* .singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
} */

.singlePostDescInput {
  width: 100%;
  min-height: 200px; /* Adjust this value to make the text area taller */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  outline: none;
  transition: border-color 0.2s;
}

.singlePostDescInput:focus {
  outline: none;
}
.singlePostButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}
